<html>
  <head>
    <base href='/{{globalPrefix}}/' />
    <meta charset='utf-8' />
    <title>Mature MVC app</title>
    <link rel='stylesheet' href='public/main.min.css' />
  </head>
  <body>
    <h1>{{message}}</h1>
    <div><pre>{{json data}}</pre></div>
  </body>
</html>
